{
	"presets": [
		["es2015", {"modules": false}],
		"stage-0",
		"react"
	],
	"plugins": [
		"transform-decorators-legacy",
		"dev-expression",
		"syntax-dynamic-import"
	],
	"env": {
		"development": {
			"plugins": [
				"react-hot-loader/babel"
			]
		}
	}
}
